* {
  box-sizing: border-box;
}

.header {
  text-align: center;
  font-family: "Lucida Handwriting", cursive;
  color: black;
  background-color: green;
  font-size: 40px;
}

.header2 {
  text-align: center;
  font-family: "Lucida Handwriting", cursive;
  color: black;
  background-color: red;
  font-size: 40px;
}

.main {
  text-align: center;
  font-family: "Lucida Handwriting", cursive;
  color: black;
  background-color: purple;
  font-size: 30px;
}
